:root {
    --progress-bar: rgb(184, 184, 184);
    --bg-tracking-card: #eee;
    --font-tracking-card: medium;
}
@font-face {
    font-family: SolaimanLipi;
    /* src: url(assets/fonts/ProductSans-Regular.ttf); */
    src: url(fonts/SolaimanLipi.ttf);
}

/* pops-up-start*/

/* pops-up-end*/
  
.row.dhkPrice {
    margin-right: 5px;
    margin-left: 5px;
}
body {
    overflow-x: hidden;
    font-family: SolaimanLipi !important;
}
.footer {
    background: #05854c;
    margin-top: 20px;
    color: #fff;
    margin-top: 40px;
}
.show{
    display:block !important;
}
li .active{
    background:none !important;
    background-color:none !important;
}
.appBtn {
    /* margin: 0px 12px; */
    padding: 0px;
    position: fixed;
    z-index: 2147483644;
    bottom: 5px;
    top: auto;
    /* height: 60px; */
    /* width: 140px; */
    /* border-radius: 29px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px; */
    background: none;
    display: block;
    left: 0;
    /* background: #F58228; */
}

.foot-title {
    color: #fff;
    text-decoration: none;
}

.about_content a {
    text-decoration: none;
    color: #fff;
}

.about_content {
    padding: 5px 0;
}

.social-btns .btn {
    padding: 18px 18px;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
    top: 90%;
    left: -110%;
}

.social-btns .btn .fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.social-btns .btn.facebook:before {
    background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
    color: #3b5998;
}

.social-btns .btn.instagram:before {
    background-color: sandybrown;
}

.social-btns .btn.instagram .fa {
    color: sandybrown;
}

.social-btns .btn.google:before {
    background-color: #dc4a38;
}

.social-btns .btn.google .fa {
    color: #dc4a38;
}

.social-btns .btn.flickr:before {
    background-color: hotpink;
}

.social-btns .btn.flickr .fa {
    color: hotpink;
}

.social-btns .btn.github:before {
    background-color: black;
}

.social-btns .btn.github .fa {
    color: black;
}

.social-btns .btn.linkedin:before {
    background-color: royalblue;
}

.social-btns .btn.linkedin .fa {
    color: royalblue;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
    top: 2%;
    left: 0%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.social-btns {
    margin: auto;
    font-size: 0;
    text-align: center;
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 3em;
    height: 3em;
    margin: 0 5px;
    text-align: left;
    vertical-align: middle;
    line-height: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
    text-align: center;
}

.social-btns .btn:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.social-btns .btn .fa {
    font-size: 2.5em;
    vertical-align: middle;
    position: relative;
    bottom: 15px;
    right: 13px;
}

.phn-box {
    width: 37px;
    background: #fff;
    padding: 0px 10px;
    font-size: 16pt;
    margin-top: 10px;
    border-radius: 4px;
}

.contact .phn {
    float: left !important;
}
.footer a:hover, .footer a:focus{
	
	text-decoration: none !important;
	
	
}

@media (min-width: 1200px) and (max-width: 2000px) {

   
    .about-us__heading {
        width: 103%;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .navbar-brand img{
        width:50%;
    }
    hr {
        border: 0;
        border-top: 1px solid #eee;
    }

    .borderBtm {
        border-bottom: 1px solid #eee;
        margin-top: 18px;
    }

    .pt {
        padding: 5px !important;
    }
}

.footer {
    background: #05854c;
    margin-top: 20px;
    color: #fff;
    margin-top: 40px;
}

.foot-title {
    color: #fff;
    text-decoration: none;
}

.about_content a {
    text-decoration: none;
    color: #fff;
}

.about_content {
    padding: 5px 0;
}

.social-btns .btn {
    padding: 18px 18px;
}

    .social-btns .btn,
    .social-btns .btn:before,
    .social-btns .btn .fa {
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

        .social-btns .btn:before {
            top: 90%;
            left: -110%;
        }

        .social-btns .btn .fa {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }

        .social-btns .btn.facebook:before {
            background-color: #3b5998;
        }

        .social-btns .btn.facebook .fa {
            color: #3b5998;
        }

        .social-btns .btn.instagram:before {
            background-color: sandybrown;
        }

        .social-btns .btn.instagram .fa {
            color: sandybrown;
        }

        .social-btns .btn.google:before {
            background-color: #dc4a38;
        }

        .social-btns .btn.google .fa {
            color: #dc4a38;
        }

        .social-btns .btn.flickr:before {
            background-color: hotpink;
        }

        .social-btns .btn.flickr .fa {
            color: hotpink;
        }

        .social-btns .btn.github:before {
            background-color: black;
        }

        .social-btns .btn.github .fa {
            color: black;
        }

        .social-btns .btn.linkedin:before {
            background-color: royalblue;
        }

        .social-btns .btn.linkedin .fa {
            color: royalblue;
        }

        .social-btns .btn:focus:before,
        .social-btns .btn:hover:before {
            top: 2%;
            left: 0%;
        }

        .social-btns .btn:focus .fa,
        .social-btns .btn:hover .fa {
            color: #fff;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

.social-btns {
    margin: auto;
    font-size: 0;
    text-align: center;
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .social-btns .btn {
        display: inline-block;
        background-color: #fff;
        width: 3em;
        height: 3em;
        margin: 0 5px;
        text-align: left;
        vertical-align: middle;
        line-height: 50%;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
        opacity: 0.99;
        text-align: center;
    }

        .social-btns .btn:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .social-btns .btn .fa {
            font-size: 2.5em;
            vertical-align: middle;
            position: relative;
            bottom: 15px;
            right: 13px;
        }

.phn-box {
    width: 37px;
    background: #fff;
    padding: 0px 10px;
    font-size: 16pt;
    margin-top: 10px;
    border-radius: 4px;
}

.contact .phn {
    float: left !important;
}
.footer a:hover, .footer a:focus,
#hubBlock a:hover, #hubBlock a:focus {
    color: white;
}

@media (min-width: 320px) and (max-width: 700px) {
    hr {
        border: 0;
        border-top: 1px solid #eee;
    }

    .borderBtm {
        border-bottom: 1px solid #eee;
        margin-top: 18px;
    }

    .pt {
        padding: 5px !important;
    }
}

.thumbnail {
    background-color: #05854c;
    color: #fff;
    width: 100%;
}
.priceList .price {
    border: 1px solid #dedede;
}
.dhakaStyle {
    background: #207238;
    color: #fff;
    font-size: 14px !important;
    height: 40px;
    cursor: pointer;
}

.outDhakaStyle {
    background: #AEB0B3;
    color: #fff;
    font-size: 14px;
    height: 40px;
    cursor: pointer;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: none !important;
}

@media (min-width: 320px) and (max-width: 700px) {
    .dhakaStyle {
        background: #207238;
        color: #fff;
        font-size: 14px !important;
        height: 40px;
        cursor: pointer;
    }

    .outDhakaStyle {
        background: #AEB0B3;
        color: #fff;
        font-size: 14px;
        height: 40px;
        cursor: pointer;
    }

    .price-show .weight {
        width: 40% !important;
    }

    .price-show .charge {
        width: 60% !important;
    }

    .price-block {
        width: 100%;
    }

    .priceList {
        padding: 2px 0;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 0px;
        min-width: 115px;
    }

    .tab-content {
        margin-top: 59px;
    }

    .dhkPrice div {
        width: 50%;
        float: left;
    }

    .dhkPrice {
        border-bottom: 2px solid #ddd;
        padding: 8px 0;
        font-size: 14px !important;
    }

    .condition {
        color: red;
        font-size: 11px !important;
    }
    
}



@media (min-width: 701px) and (max-width: 1200px) {
    .center-block img {
        /* width: 300px;
        height: 300px; 
        position: absolute;
        top: 0;*/
        width: 576px !important;
        position: relative;
    }

    img:hover {
        cursor: zoom-in;
    }
}
    

.condition {
    color: red;
}

.dhkPrice {
    border-bottom: 2px solid #ddd;
    padding: 8px 0;
    font-size: 18px;
}

.margin {
    margin-bottom: 20px;
}

.background {
    /*background-image: url(https://static.ajkerdeal.com/images/dt/newlogin/bg.jpg); */
	background-color: #dfe8ed;
}


@media (min-width: 765px) and (max-width: 1199px) {

    .custom {
        padding-left: 4px !important;
        padding-right: 108px !important;
        font-size: 18px !important;
    }
}

@media (min-width: 493px) and (max-width: 700px) {

    .center-block img {
        width: 350px !important;
        height: 464px !important;
       
    }

    img:hover {
        cursor: zoom-in;
    }
}



@media (min-width: 200px) and (max-width: 492px) {

    .center-block img {
        width: 232px !important;
        height: 444px !important;
      
    }

    img:hover {
        cursor: zoom-in;
    }
}

.zoom {
    overflow: hidden;
    display: block;
    text-align: center;
}

.zoom img {
    width: 100%;
    position: relative;
}
